<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Order Details</h1>
    <h2>Name: <%= orderContent.name %></h2>
    <h2>Phone Number: <%= orderContent.phno%> </h2>
    <h2>Email: <%= orderContent.addr%> </h2>
    <h2>Paint Type: <%= orderContent.paint%> </h2>
    <h2>Canva Size: <%= orderContent.canvaSize%> </h2>
    <h2>Description: <%=orderContent.desc%> </h2>
</body>
</html>