<%- include("partials/header", {title: title }); -%>

<section class="viewer">
    <div class="view-img-contents">
        <div class="img-view">
            <img src="data:image/<%=image.img.contentType%>;base64,
                     <%=image.img.data.toString('base64')%>">
        </div>
        <div class="img-details">
            <form action="/addToCart" method="post">
                <div class="img-desc">
                    <h1 class="view-img-name"><%= image.name %></h1>
                    <h2 class="view-img-price">C$ <%= image.priceInfo[0].price %></h2>
                    
                        <label for="imgSize" id="img_size">Select Size</label>
                        <select name="imgSize" id="imgSize" required>
                            <% for(let i=0;i<4;i++){ %>
                                <% if(image.priceInfo[i].price){ %>
                                    <option value="<%= image.priceInfo[i].size %>"><%= image.priceInfo[i].size %> - C$<%= image.priceInfo[i].price %></option>
                                <% } %>
                            <% } %>
                        </select>
                    <p><%= image.desc %></p>
                </div>
                <div class="img-cart">   
                    <% if (alreadypresent){ %>
                        <a class="Button"  id="<%= image.id %>" href="/cart" name="id" value="<%= image.id %>"><h3>GO TO CART</h3></a>  
                    <%}else{%>
                        <button class="Button" type="submit" id="<%= image.id %>" href="#" name="id" value="<%= image.id %>"><h3>ADD TO CART</h3></button>  
                    <%}%>
                </div>
            </form>
        </div>
        
    </div>
    
    
</section>

<script>
      var addcart = document.querySelector('.img-cart button');
      var gocart = document.querySelector('.img-cart a');
      var cart = document.querySelector('.img-cart');
      if (typeof(addcart) != 'undefined' && addcart != null){
            cart.style.border = 'none';
            cart.style.background = 'none';
      }
      else if(typeof(gocart) != 'undefined' && gocart != null){
            cart.style.border = '2px solid red';
            cart.addEventListener('mouseover',()=>{
                cart.style.background = 'red';
            })
            cart.addEventListener('mouseout',()=>{
                cart.style.background = 'none';
            })
      }
</script>

<%- include('partials/footer'); -%>

