<%- include("partials/header", {title: title }); -%>

<section class="viewer">
    <div class="view-img-contents">
        <div class="img-view">
            <img src="data:image/<%=image.img.contentType%>;base64,
                     <%=image.img.data.toString('base64')%>">
        </div>
        <div class="img-desc">
            <h1 class="view-img-name"><%= image.name %></h1>
            <h2 class="view-img-price">C$ <%= image.price %></h2>
            <label for="imgSize">Image Size</label>
            <select name="imgSize" id="imgSize" required>
                <% for(let i=0;i<4;i++){ %>
                    <% if(image.priceInfo[i].price){ %>
                        <option value="<%= image.priceInfo[i].size %>"><%= image.priceInfo[i].size %> - C$<%= image.priceInfo[i].price %></option>
                    <% } %>
                <% } %>
            </select>
            <p><%= image.desc %></p>
        </div>
    </div>
    <div class="img-cart">
        <a id="<%= image.id %>" href="#" onclick="myFun(id); return false;"><h3>ADD TO CART</h3></a>
    </div>
</section>

<script>
    function myFun(id) {

        document.getElementById(id).href = "/";
        document.getElementById(id).innerHTML = "Go To Cart";
        const size = document.getElementById("imgSize").value;
        console.log(size);
        const json = {
            id: id,
            size: size
        };
    // request options
        const options = {
            method: 'POST',
            body: JSON.stringify(json),
            headers: {
                'Content-Type': 'application/json'
            }
        }
    // send post request
        fetch('/addToCart', options)
            .then(res => res.json())
            .then(res => console.log(res))
            .catch(err => console.error(err));
        }      
        
</script>

<%- include('partials/footer'); -%>

