<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Image </title>
    <style>
        .thisClass div{
            padding: 10px;
        }
        
        

    </style>
</head>
<body>
    <h1>To Upload Image on mongoDB</h1>
    <hr>
    <div class="thisClass">
        <form action="/verylongandsecureuploadingurlthatisverylong" method="POST" enctype="multipart/form-data">
            <div>
                <label for="name">Image Title</label>
                <input type="text" id="name" placeholder="Name" name="name" required>
                <p>The name should be of one word only</p>
            </div>
            <div>
                <label for="cat">Image Catogery</label>
                <select name="cat" id="cat" required>
                    <option value="oil">Oil Painting</option>
                    <option value="color">Color Pencil</option>
                    <option value="graphite">Graphite & Charcoal</option>
                </select>
            </div>
            
            <div>
                <label for="image">Upload Image</label>
                <input type="file" id="image" name="image" value="" required>
            </div>
            <div>
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>

    <div class="thatClass">
        <form action="/delete" method="post">
            <h1>To Delete Image from mongoDB</h1>
            <div>
                <label for="name">Image Title</label>
                <input type="text" id="name" placeholder="Name" name="name" required>
                <p>The name should be of one word only(do not</p>
            </div>
            <div>
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
  
    <hr>
  
    <h1>Uploaded Images</h1>
    <div>
        <% var i=0; %>
        <% items.forEach(function(image) { %>
                <!-- <img src="data:image/<%=image.img.contentType%>;base64,
                     <%=image.img.data.toString('base64')%>"> -->
                <div style="display: flex; flex-direction: row;">
                    
                    <% i = i+1; %>
                    <h5> <%= i %></h5>
                    <h5 style="padding-left:10px;" ><%= image.name %></h5>
                    <h5 style="padding-left:10px;"><%= image.cat %></h5>
                    <h5 style="padding-left:10px;"><%= image.price %></h5>
                    <h5 style="padding-left:10px;"><%= image.stock %></h5>
                </div>
        <% }) %>
    </div>
</body>
</html>